/* 基本はこの色を使用する */
html {
    --main-background-color: #eee;
    --main-text-color: #222;

    --navi-text-color: #ddd;
  
    --wrapper-masthead-color: #fff;
    --wrapper-footer-color: #666;
    --footer-text-color: #fff;
    --eng-color: #888;

    --content-background-color: #fff;
    --content-border-color: #ddd;

    --vip-color: rgb(174, 0, 0); 
    --calendar-tag-color: #a3a3a3;
}
  
body {
    background: white;
    color: var(--main-text-color);

    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7;
    margin: 0;
}

/* ↓↓↓ header内 のスタイル ↓↓↓ */

header {
    background: var(--content-background-color);
    border-bottom: 1px solid var(--content-border-color);
    margin-top: 0;
}

.header-all-contents {
    text-align: center;
    padding: 10px 20px 0px 20px;
}

.header-content {
    padding: 20px 20px;
    display: inline-block;
}

.header-content-sub {
    padding: 0px 5px;
    display: inline-block;
}

.rits-image img { 
    height: 50px;
}

.lab-image {
    margin: 0 auto;
    white-space: nowrap;
}

.lab-image img {
    height: 50px;
}

.header-lab-name {
    margin: 0 0 0 0;
    font-size: 25px;
}

.header-lab-name a {
    color: var(--main-text-color);
    text-decoration: none;
}

.header-lab-name-eng {
    margin: -5px 0 0 0;
    font-size: 12px;
}

.header-lab-name-eng a {
    text-decoration: none;
    color: var(--eng-color);
}

/* ナビゲーター */

.navigate {
    text-align: center;
    list-style: none;
    padding-inline-start: 0px;

    height: 36px;
    background-color: #333;
    background-image: url(../image/assets/nav-bg.jpg);
    background-repeat: repeat-x;
    border-top: 1px solid black;

    margin-block-start: 0;
    margin-block-end: 0;

    font-size: 0;
}

.navigate li {
    height: 36px;
    line-height: 18px;
    
    display: inline-flex;

    font-size: 14px;

    border-right: 1px solid #666;
    border-left: 1px solid #333;
    border-bottom: white;
}

.navigate li a {
    text-decoration: none;
    color: var(--navi-text-color);
    padding: 0 20px;

    padding-bottom: 10px;
    padding-top: 8px;
}

@media only screen and (max-width: 600px) {
    .navigate {
        white-space: nowrap;
        overflow-x: scroll;
    }
}

/* ↓↓↓ content内 のスタイル ↓↓↓ */

.all-contents {
    max-width: 1280px;
    margin: 0px auto;
    flex-wrap: wrap;
    display: flex;
    display: -webkit-flex;
}

.content {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    margin: 0 auto;
    width: 80%;

    padding: 10px 0;
}

.left-column {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 25%;
}

.right-column {
    width: 75%;
}

.center-column {
    width: 100%;
    text-align: center;
}

.content h1, h2 {
    padding-bottom: .2em;
    border-bottom: 2px solid;
    border-color: var(--vip-color);
}

.content h3 {
    padding-bottom: .2em;
    border-bottom: 1px solid;
    border-color: var(--content-border-color);
}

.calendar-font {
    color: var(--calendar-tag-color);
    font-size: small;
}

/* contact.htmlで使用しているスタイル */

.contact-parent {
    overflow-x:auto;
    overflow-y:hidden;
    width:100%;
}

.contact-child {
    display: inline-block;
    vertical-align: middle;
    
    margin: 15px;
}

.contact-child table {
    width: 100%;
    border-collapse: collapse;
}

.contact-child th,td {
    border: solid 2px; /* 枠線指定 */
    border-color: var(--content-border-color);
    padding: 10px 10px 10px 10px;
}

/* publication.html 内のスタイル */

.publication ul li{
    font-size: smaller;
}

.publication em{
    font-size: medium;
}

/* member.html 内のスタイル */

.prof {
    width: 90%;
    margin: 0 10px;
    box-shadow: 1px 1px 6px rgb(50 50 50 / 35%);
    padding: 0.4rem 0.9rem;
    margin-bottom: 10px;
    display: inline-block;
}

.prof .name {
    margin: 0 0 0 0;
    font-size: medium;
}

.prof .name-eng {
    margin: -5px 0 0 0;
    font-size: 12px;
    color: var(--eng-color);
}

.prof .prof-info-block {
    display: inline-block;
}

.prof .member-btn-block {
    float: right;
    display: inline-block;
    height: 32px;
}

.member {
    width: 194px;
    margin: 0 10px;
    box-shadow: 1px 1px 6px rgb(50 50 50 / 35%);
    padding: 0.5rem 0.5rem;
    margin-bottom: 10px;
    display: inline-block;
}

.member .name {
    margin: 0 0 0 0;
    font-size: medium;
}

.member .name-eng {
    margin: -5px 0 0 0;
    font-size: 12px;
    color: var(--eng-color);
}

.member .member-img {
    margin-right: 10px;
    display: inline-block;
    position: relative;
    top: 5px; 
}

.member .member-img img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.member .member-info-block {
    position: relative;
    top: -8px;
    display: inline-block;
}

.btn {
    margin: 8px 0; 
    cursor: pointer;
    padding: 8px;
    color:#ffffff;
    background-color: var(--vip-color);
    border: none;
    border-radius: 4px;
}

/* More ボタンで表示を増やす */

.content-wrap {
    overflow: hidden;
    position: relative;
    margin: 0;
    font-size: smaller;
}
.content-wrap h4 {
    margin-bottom: 5px;
    font-size: medium;
}
.content-wrap p {
    margin-top: 0;
    padding-left: 10px;
}

.close-btn, .more-btn {
    display: block;
}
.close-btn {
    background: none;
}
.invisible {
    display: none;
}
.visible {
    display: block;
}
/* Morボタン ここまで */

.iframe-border {
    width: 95%;
    margin: 0 10px;
    box-shadow: 1px 1px 6px rgb(50 50 50 / 35%);
    margin-bottom: 10px;
    display: inline-block;
    border: none;
}

/* lab-member-page.htmlで使用しているスタイル */

.cloud {
    margin: 0 10px;
    box-shadow: 1px 1px 6px rgb(50 50 50 / 35%);
    padding: 0.4rem 0.9rem;
    margin-bottom: 10px;
    display: inline-block;

    background-image: url(../image/cloud/background.jpg);
    background-position: center;
    text-align: center;
}

.cloud-logo {
    display: block;
    margin: 10px auto;
}

.box-white{
    background-color: rgba(0, 0, 0, 0.15);
    color: white;
}

/* モバイルのための幅指定 */

@media only screen and (max-width: 600px) {
    
    .left-column {
        display:none;
    }

    .right-column {
        width: 100%;
        margin: 0 auto;
    }
}

/* ↓↓↓ footer内 のスタイル ↓↓↓ */

footer {
    background: var(--wrapper-footer-color);
    color: var(--main-text-color);

    padding: 20px 20px;
}

.copy-right {
    color: var(--footer-text-color);
    font-size: 12px;
    text-align: center;
}